.filterBar {
  background: #fff;
  width: 25%;
  height: 8vh;
  border-radius: 30px;
  padding: 10px 16px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
  margin: 16px 20px;
}

.filterBar input {
  width: 100%;
  height: 5vh;
  border: none;
  outline: none;
  font-size: 1rem;
  background: transparent;
}
